@import "tailwindcss";
@theme {
  --color-velvet-orchid: #742092;
  --color-mauve: #e3c2ff;

    --color-linen: #EFE6DD;
    --color-dark-garnet: #6A0002;
    --color-linen-50: #f7f2ee;
    --color-linen-100: #efe6dc;
    --color-linen-200: #deccba;
    --color-linen-300: #ceb397;
    --color-linen-400: #be9974;
    --color-linen-500: #ad8052;
    --color-linen-600: #8b6641;
    --color-linen-700: #684d31;
    --color-linen-800: #453321;
    --color-linen-900: #231a10;
    --color-linen-950: #18120b;

    --color-dark-garnet-50: #ffe5e6;
    --color-dark-garnet-100: #ffcccd;
    --color-dark-garnet-200: #ff999b;
    --color-dark-garnet-300: #ff6669;
    --color-dark-garnet-400: #ff3336;
    --color-dark-garnet-500: #ff0004;
    --color-dark-garnet-600: #cc0003;
    --color-dark-garnet-700: #990003;
    --color-dark-garnet-800: #660002;
    --color-dark-garnet-900: #330001;
    --color-dark-garnet-950: #240001;

  --color-velvet-orchid-50: #f6eafa;
  --color-velvet-orchid-100: #edd5f6;
  --color-velvet-orchid-200: #dbabed;
  --color-velvet-orchid-300: #c982e3;
  --color-velvet-orchid-400: #b758da;
  --color-velvet-orchid-500: #a62ed1;
  --color-velvet-orchid-600: #8425a7;
  --color-velvet-orchid-700: #631c7d;
  --color-velvet-orchid-800: #421254;
  --color-velvet-orchid-900: #21092a;
  --color-velvet-orchid-950: #17061d;

  --color-mauve-50: #f3e5ff;
  --color-mauve-100: #e7ccff;
  --color-mauve-200: #cf99ff;
  --color-mauve-300: #b866ff;
  --color-mauve-400: #a033ff;
  --color-mauve-500: #8800ff;
  --color-mauve-600: #6d00cc;
  --color-mauve-700: #520099;
  --color-mauve-800: #360066;
  --color-mauve-900: #1b0033;
  --color-mauve-950: #130024;

  --font-luckiest-guy: {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  };
}

.luckiest-guy {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
