langchain
langchain-core

langchain-mistralai
# langchain-openrouter

fastapi
uvicorn

python-dotenv
python-multipart

pydantic

pypdf


# langchain
# langchain-core
# langchain-community

# langchain-openai
# langchain-ollama
# langchain-mistralai
# langchain-openrouter

# pydantic

# python-dotenv

# pypdf

# fastapi
# uvicorn

# python-multipart