langchain
langchain-core
langchain-community

langchain-docling
langchain-openai
langchain-ollama
langchain-mistralai
langchain-openrouter

pydantic

python-dotenv

pymupdf
python-docx
pypdf

tiktoken

fastapi
uvicorn

python-multipart

jinja2

pillow

chromadb
langchain-chroma

sentence-transformers
langchain-huggingface